@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Roboto')
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #D1D5D6;
  color: #292929;
  font-family: "Roboto", Arial, Sans-serif
}
.ui.menu .item {
  padding-left: .5em;
  padding-right: .7em;
}
#root, #outer-container {
  height: 100%;
}
a {
  color: #4e4a46;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #c94e50;
}
main {
  height: 100%;
  margin: 15px;
  margin-right: 165px;
  padding: 0 0;
}
h1 {
  font-weight: 800;
  font-size: 3.75em;
}
.description {
  max-width: 20em;
  margin: 1.2em auto 1em;
  line-height: 1.3em;
  font-weight: 400;
}

@media screen and (max-width: 40em) {
  main {
    font-size: 80%;
  }
  h1 {
    padding-top: 1em;
    font-size: 2.5em;
  }
}

#sidebar{
  overflow: visible !important;
}
#panelHeader{
  background-color: #fff;
  background-image: url('Images/UI/panel-header.png');
  background-repeat: repeat-x;
}
.strikethrough{
  text-decoration: line-through;
}
#skypeBtn{
  opacity: .2;
  z-index: 9999;
}
#skypeBtn:hover{
  opacity: 1
}